<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Todo list
    </h1>
    <section>
        <ul>
            {% for todo in todos %}
            <li><a href="/todos/details/{{todo.id}}">{{todo.title}}</a></li>
            <li>
                <h4>{{todo.title}}</h4>
                <p>{{todo.text}}</p>
                <p>{{todo.created_at}}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>